<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>微博首页</h1>
    <div v-if="isLogin">
        <h1>欢迎{{user.nickname}}回来</h1>
        <a href="/insert.html">发微博</a>
        <a href="javascript:void(0)" @click="logout()">退出登录</a>
    </div>
    <div v-else>
        <a href="/reg.html">注册</a>
        <a href="/login.html">登录</a>
    </div>
    <hr>
    <div v-for="weibo in arr">
        <h3>{{weibo.nickname}}：说{{weibo.content}}</h3>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            user:{},
            isLogin:false,
            arr:[]
        },
        methods:{
            logout(){
                if(confirm("你确定要退出吗？")){
                    axios.get("/logout").then(function () {
                        v.isLogin=false;
                    })
                }
            }
        },created:function (){
            axios.get("/weibo/select").then(function (resp) {
                v.arr=resp.data;
            })
        //    发请求获取当前登录用户对象
            axios.get("/currentUser").then(function (rep) {
                //由于服务器给客户端传递数据时会将数据转成Json字符串，
                // 这样服务器相应的是null时客户端接受的是空字符串
                if (rep.data=="") {
                    v.isLogin=false;
                }else {
                    v.isLogin=true;
                    v.user=rep.data;
                }
            });
        }
    })
</script>
</body>
</html>