<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h1>添加商品页面</h1>
  <input type="text" placeholder="商品标题" v-model="p.title">
  <input type="text" placeholder="商品价格" v-model="p.price">
  <input type="text" placeholder="商品库存" v-model="p.num">
  <input type="button" value="添加商品" @click="insert()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script>
  let v = new Vue({
    el:"body>div",
    data:{
      p:{title:"",price:"",num:""}
    },
    methods:{
      insert(){
        //发出异步post请求
        axios.post("/insert",v.p).then(function (resposne) {
          alert("添加完成!");
          location.href="/";
        })
      }
    }
  })
</script>
</body>
</html>